@model MvcMovie.Models.PagedListModel<MovieViewModel>
@{
    Layout = null;
    ViewData["Title"] = "_PagePartialView";
}
<span class="d-flex justify-content-end p-2">資料總筆數：@Model.Total </span>
<table class="table">
    <thead>
        <tr>
            <th data-order="Title">
                @Html.DisplayNameFor(model => model.Items[0].Title)
            </th>
            <th data-order="ReleaseDate">
                @Html.DisplayNameFor(model => model.Items[0].ReleaseDate)
            </th>
            <th data-order="Genre">
                @Html.DisplayNameFor(model => model.Items[0].Genre)
            </th>
            <th data-order="Price">
                @Html.DisplayNameFor(model => model.Items[0].Price)
            </th>
            <th data-order="Rating">
                @Html.DisplayNameFor(model => model.Items[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@if (Model.Items != null && Model.Items.Any() == true)
{

    <nav aria-label="Page navigation example">
        <div class="pagination m-2">
            @Html.PagedListPager(Model.Items, page => Url.Action("Movies", new { page }))
        </div>
    </nav>
}

<script>
     // 排序功能
    ordersByColumn.init("@Model.OrderType"),@Model.Items.PageNumber), Select);

</script>